################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/config.json
/data.json
/.vscode
log.log
err.log
player_data.json
